@import "utils/variables";
@import "utils/animations";
@import "base/base";

// Style du Loader
.loader {
    position: fixed;
    inset: 0;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeout 2s forwards 1s; // Reste 1s puis disparait

    &__spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #ddd;
        border-top: 5px solid $color-primary;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

// Imports des modules
@import "layout/header";
@import "components/buttons";
@import "components/heart";